<div class="container-fluid product" id="product_{{ product.id }}">

    <header>{{ product.name }}, <small>added {{ product.created_at }}, #{{ product.id }}</small></header>
    <article>{{ product.description }}</article>
</div>
<hr/>
